body{
    background-color: grey;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Times New Roman', Times, serif;
}

h1, h2{
    color: skyblue;
}

div.movies p.soap2 {
    font-style: italic;
    font-weight: bold;
}

dt {
    color: yellow;
}

a{
    color: #ff2500;
    text-decoration: none;
}


.mood > img {
    height: 300px;
}

